:root {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  --main-blue: #0046bf;
  --pop-color: #ffd700;
  background-color: #d7ecff;
  color: #2b2b2d;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--main-blue);
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

section {
  margin-bottom: 70px;
}

h1 {
  letter-spacing: 10px;
  font-size: 3.5rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

h1::before {
  content: "";
  position: relative;
  right: 3px;
  width: 0px;
  height: 0px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 50px solid var(--pop-color);
}

h1::after {
  content: " - 'your one stop shop !'";
  font-size: 1rem;
  letter-spacing: normal;
  font-style: italic;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  background-color: var(--pop-color);
  color: var(--main-blue);
  margin-bottom: 50px;
  padding: 5px 0px;
  letter-spacing: 3px;
}

h3 {
  text-align: center;
  height: 55px;
  padding: 10px;
  font-size: 1.3rem;
}

p {
  width: 90%;
  margin: 20px auto;
  color: #575757;
}

ul {
  list-style: none;
  width: 95%;
  margin: 20px auto;
}

li:first-child h3::after {
  content: "SALE";
  position: relative;
  left: 7px;
  font-size: 0.9em;
  padding: min(1.2%, 5px);
  background-color: #ff0000;
  color: #ffffff;
}

li {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.281);
}

img {
  width: 100%;
  height: auto;
  display: block;
  width: 75%;
  margin: auto;
  background-color: #ffffff;
}

/* display grid layout and first section unique styles*/
#grid-floats {
  display: grid;
  gap: 40px;
}

/* creates a pseudo element of new title and tucks the old title under header out of view */
section:first-of-type h2 {
  background-color: transparent;
  position: relative;
  top: -33px;
  z-index: -1;
}

section:first-of-type h2::after {
  content: "grid with grid";
  position: relative;
  display: block;
  background-color: var(--pop-color);
  padding: 5px 0px;
  letter-spacing: 3px;
}

/* display flex layout and second section unique styles*/
#grid-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px 0px;
}

/* 
  Device Laptop, Desktop
*/

@media (min-width: 1025px) /* and (max-width: 1280px) */ {
  ul {
    max-width: 1300px;
  }

  ul li:first-child img {
    width: 60%;
  }

  /* grid layout for desktop and laptop and unique styles for first section */

  #grid-floats {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  /* target first child and position it in the grid*/
  #grid-floats li:first-child {
    grid-area: 1/1/2/3;
  }

  /* flex layout rules and unique styles for second section */
  #grid-flex li {
    margin: 0% 1%;
  }

  #grid-flex li:first-child {
    width: 48%;
  }

  #grid-flex li:nth-child(n + 2) {
    width: 23%;
  }
}

/* 
  Device Tablet
*/

@media (min-width: 600px) and (max-width: 1024px) {
  /* display grid layout for tablet and unique first section styles */
  #grid-floats {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 40px 20px;
  }

  #grid-floats li:first-child {
    /* grid-area: 1/1/2/4; */
    grid-column-start: span 3;
  }

  #grid-floats li:nth-child(2) {
    /* grid-area: 1/4/1/7; */
    grid-column-start: span 3;
  }

  #grid-floats li:nth-child(n + 3) {
    grid-column-start: span 2;
  }

  /* flexbox layout rules and unique styles for second section */
  #grid-flex {
    justify-content: space-evenly;
  }

  #grid-flex li:nth-child(-n + 2) {
    width: 45%;
  }

  #grid-flex li:nth-child(n + 3) {
    width: 30%;
  }
}

/* 
  Device Mobile
*/
@media (max-width: 599px) {
  body {
    min-width: 320px;
  }

  h1::after {
    content: "";
  }

  h3 {
    font-size: 1rem;
  }

  ul li:nth-child(n + 2) img {
    width: 96%;
    margin: auto auto 10px auto;
  }

  ul li:first-child h3 {
    font-size: 1.2rem;
    padding-bottom: 0px;
  }

  ul li:first-child img {
    width: 60%;
  }

  ul li:first-child p {
    margin: 0px auto 10px auto;
  }

  ul li:nth-child(n + 2) p {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 82%;
    background-color: white;
    overflow: hidden;
    z-index: -1;
  }

  ul li:nth-child(n + 2) img:hover + p {
    height: fit-content;
    transition: ease;
    padding: 10px 5px 5px 5px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 10px 10px rgb(0 0 0 / 28%);
    overflow: visible;
    z-index: 5;
  }

  /* display mobile grid layout and unique styles for first section */
  #grid-floats {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 30px;
  }

  #grid-floats li:first-child {
    grid-column-start: span 2;
  }

  /* display flex mobile layout and unique rules for second section */
  section:nth-of-type(2) {
    margin-bottom: 250px;
  }

  #grid-flex {
    justify-content: flex-start;
    row-gap: 30px;
  }

  #grid-flex li {
    margin: 0px auto;
  }

  #grid-flex li:first-child {
    width: 94%;
  }

  #grid-flex li:nth-child(n + 2) {
    width: 44%;
  }

  #grid-flex li:last-child {
    margin: 0px 3%;
  }
}

/* 
  hover media query for devices that have hover
*/

@media (hover: hover) and (min-width: 600px) {
  li:hover {
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.522);
  }

  li::before {
    content: "BUY ME";
    position: absolute;
    left: 20px;
    font-weight: 700;
    font-size: 18px;
    background-color: var(--pop-color);
    color: var(--main-blue);
    padding: 5px 5px 12px 5px;
    border-radius: 7px;
    z-index: -1;
  }

  li:hover::before {
    animation-name: slide-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition: ease;
  }

  /* animation for BUY ME oseudo class */
  @keyframes slide-up {
    0% {
      top: 0px;
    }

    100% {
      top: -29px;
    }
  }
}
